:root {
    --color-text-button: #ffffff;
}
text {
    background: #4e1161;
    padding: 10px 20px;    
    color: var(--color-text-button);
}
.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
